header {
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFFFFF;
	z-index: 1;
}

header .container {
	height: 60px;
	display: flex;
	align-items: center;
}

header .container .logo {
	display: flex;
	align-items: center;
	color: #2C3E50;
	z-index: 1;
}

header .container .logo::before {
	content: '';
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 50px;
	background-image: url(../../images/graduation.svg);
	background-size: cover;
	background-position: center;
}

header .container nav {
	flex-grow: 1;
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: space-between;
}

header .container nav div {
	display: flex;
	align-items: center;
	justify-content: center;
}

header .container nav .courses {
	padding: 20px 0;
	cursor: pointer;
}

header .container nav .courses > a {
	color: #2C3E50;
}

header .container nav .courses .list-of-courses {
	position: absolute;
	top: 7px;
	left: -20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	padding: 70px 20px 0 20px;
	background-color: transparent;
	border-radius: 0 3px 3px 3px;
	opacity: 0;
	visibility: hidden;
	transition: .3s;
}

header .container nav .courses .list-of-courses::before {
	content: '';
	position: absolute;
	top: 30px;
	left: 140px;
	border: 20px solid transparent;
	border-bottom-color: #FAFAFA;
}

header .container nav .courses .list-of-courses.show {
	top: 0;
	opacity: 1;
	visibility: visible;
	transition: .3s;
}

header .container nav .courses .list-of-courses span {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	background-color: #FAFAFA;
}

header .container nav .courses .list-of-courses span a {
	width: 100%;
	padding: 20px 15px;
	color: #2C3E50;
}

header .container nav .courses .list-of-courses span a:hover {
	background-color: #ECF0F1;
}

header .container nav .languagepicker {
	position: relative;
	color: #2C3E50;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 14px;
	font-weight: 700;
	margin-right: 70px;
	text-transform: uppercase;
}

header .container nav .languagepicker::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	font-family: 'Font Awesome 5 Free', sans-serif;
	font-weight: 900;
	content: '\f57c';
	margin-right: 5px;
}

header .container nav .languagepicker:hover {
	text-decoration: underline;
}

header .container nav .login {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #0082D6;
	color: #FFFFFF;
	width: 100px;
	height: 40px;
	border-radius: 3px;
}

header .container nav .login:hover {
	background-color: #0072BC;
}

header .container .burger-menu {
	width: 30px;
	height: 60px;
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 4;
}

header .container .burger-menu::after {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	color: #2C3E50;
	font-family: 'Font Awesome 5 Free', sans-serif;
	font-weight: 900;
	content: '\f0c9';
}

header .container .burger-menu.open::after {
	content: '\f00d';
}

header .container .circular {
	position: fixed;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: rgba(255,255,255,.95);
	box-sizing: border-box;
	overflow: hidden;
	z-index: 3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
	transition: all .5s 0ms ease;
}

header .container .circular.show {
	width: 500vw;
	height: 500vw;
	transition: all .7s 100ms ease;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	background: linear-gradient(-45deg, rgba(100, 114, 188, .9) 0%, rgba(0, 130, 214, .9) 100%);
}

main .container {
	height: calc(100vh - 40px);
	z-index: 0;
}

form {
	position: absolute;
	top: 20%;
	left: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transform: translate(-50%, -20%);
	z-index: 2;
}

input[name = search] {
	width: 480px;
	height: 50px;
	border: none;
	padding: 0 60px 0 20px;
	border-radius: 3px;
	background-color: #EEEEEE;
}

.search-btn {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border: none;
	border-radius: 0 3px 3px 0;
	background: transparent;
	cursor: pointer;
}

.search-btn:hover {
	background-color: #0072BC;
}

.search-btn:hover i {
	color: #FFFFFF;
}

.developer {
	position: absolute;
	right: 0;
	bottom: 0;
}

footer {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2C3E50;
	color: #ECF0F1;
	text-align: center;
	z-index: 0;
}

@keyframes float {

	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(-20px) scale(1.03);
	}

	100% {
		transform: translateY(0px);	
	}
}

@media only screen and (max-width: 1200px) {

	.container {
		width: 97%;
	}

	header, footer {
		position: initial;
	}
}

@media only screen and (max-width: 768px) {

	* {
		-webkit-tap-highlight-color: transparent;
	}

	.container {
		width: 97%;
	}

	header .container {
		justify-content: space-between;
	}

	header .container nav {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		padding-bottom: 30px;
		visibility: hidden;
		opacity: 0;
		transition: .1s;
		overflow-y: scroll;
	}

	header .container nav.show {
		visibility: visible;
		opacity: 1;
		z-index: 4;
		transition: .5s .3s;
	}

	header .container nav .courses > a {
		display: none;
	}

	header .container nav .courses .list-of-courses {
		position: initial;
		width: 100%;
		display: flex;
	}

	header .container nav .courses .list-of-courses::before {
		content: none;
	}

	header .container .burger-menu {
		display: flex;
	}

	form {
		top: 25%;
	}

	input {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {

	form {
		width: 95%;
	}
}
